# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Vercel
.vercel/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing & Logs
.pytest_cache/
*.log

# Build & Mobile temporary outputs
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugin-dependencies

.vercel
